[Unit]
Description=Find Current public IP address allocated by ISP

[Service]
User=nobody
Group=nobody
Type=oneshot
ExecStart=/usr/bin/python3 -m track_my_ip
Nice=19
IOSchedulingClass=best-effort
IOSchedulingPriority=7
