[Unit]
Description=Find Current public IP address allocated by ISP

[Service]
User=wheres_home
Group=wheres_home
Type=oneshot
ExecStart=/usr/bin/python3 -m wheres_home
Nice=19
IOSchedulingClass=best-effort
IOSchedulingPriority=7
